{% extends "boardgames/base.html" %}
<!--other styles-->
{% block page_styles %}
<!--load static duplicate needed to not cause errors-->
{%load static%}
<link rel="stylesheet" href="{% static 'accounts/auth.css' %}" />
{% endblock %}
<section>
	{% block content %}
	<div>
		{% if form.errors %}
		<p>Wrong password or username</p>
		{% endif %}
	</div>

	<form action="{% url 'accounts:login' %}" method="post">
		<fieldset>{% csrf_token %} {{form.as_div}}</fieldset>
		<button name="submit">Log in</button>
	</form>

	{% endblock content %}
</section>
