{% extends "boardgames/base.html" %} {% block page_styles %}
<!--load static duplicate needed to not cause errors-->
{%load static%}
<link rel="stylesheet" href="{% static 'accounts/profile.css' %}" />
{% endblock %}
<section>
	{%block content%}
	<content>
		<div class="games-container">
			<div class="d-flex align-items-center mb-2">
				<h2 class="m-0">My games</h2>
				<a id="new-button" href="{% url 'boardgames:new_boardgame'%}">New +</a>
			</div>
			<div class="game-box">
				<ul>
					{% for boardgame in boardgames %}
					<a
						class="boardgame"
						href="{% url 'boardgames:boardgame_detail' boardgame.id %}">
						<li>
							<strong>{{ boardgame.name }}</strong>
							<span>({{boardgame.year_published}})</span>
							<i> - {{boardgame.developer}}</i>
							<!-- Add other fields as needed -->
						</li>
					</a>
					{% endfor %}
				</ul>
			</div>
		</div>
	</content>
	<content>
		<div class="games-container">
			<div class="mb-2">
				<h2 class="m-0">Borrowed games</h2>
			</div>
			<div class="game-box">
				<ul>
					<li>
						{% if message %}
						<div class="justify-content-center align-items-end p-3 d-flex">
							{% for msg in message %}
							<p class="m-0">{{ msg }}</p>
							{% endfor %}
						</div>
						{% endif %}
					</li>
					{% for boardgame in borrowed_boardgames %}
					<a
						class="boardgame"
						href="{% url 'boardgames:boardgame_detail' boardgame.id %}">
						<li>
							<strong>{{ boardgame.name }}</strong>
							<span>({{boardgame.year_published}})</span>
							<i> - {{boardgame.developer}}</i>
							<!-- Add other fields as needed -->
						</li>
					</a>
					{% endfor %}
				</ul>
			</div>
		</div>
	</content>
	{%endblock content%}
</section>
