:root {
	--main-color: #000004;
	--alt-color: #ffffff;
	--main-alt: #e08e45;
}

html,
body {
	margin: 0, auto;
}
nav {
	background-color: var(--main-color);
	padding: 24px;
}
.user-welcome {
	color: var(--alt-color) !important;
	margin-right: 16px;
}
nav a {
	font-size: 1.2rem;
	border-radius: 8px;
	padding: 8px;
	text-decoration: none;
	color: var(--alt-color);
	transition: all 0.4s ease;
}
.log-out {
	background-color: var(--main-color);
	border: 2px dashed var(--alt-color);
	color: var(--alt-color);
	font-size: 1.2rem;
	transition: all 0.4s;
	opacity: 0.4;
}
.log-out:hover {
	opacity: 1;
}
nav a:hover {
	background-color: var(--alt-color);
	color: var(--main-color);
}
