<!DOCTYPE html>
<html>
	<head>
		<!---bootstrap-->
		{% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
		<!---custom-->
		{% load static %}
		<link rel="stylesheet" href="{% static 'boardgames/main.css' %}" />
	</head>
	<body>
		<nav class="d-flex justify-content-between">
			<div class="d-flex align-items-center">
				<a href="{% url 'boardgames:index' %}">Home</a>
				<a>Boardgames</a>
			</div>
			<div class="d-flex align-items-center">
				{% if user.is_authenticated%}
				<span class="user-welcome"> Hello, {{user.username}}! </span>
				<form action="{% url 'accounts:logout' %}" method="post">
					{% csrf_token %}
					<button class="log-out" name="submit">Log out</button>
				</form>
				{%else%}
				<a href="{% url 'accounts:login' %}">Log in</a>
				<a href="{% url 'accounts:register' %}">Register</a>
				{%endif%}
			</div>
		</nav>
		{%block content%} {% endblock content%}
	</body>
</html>
