{% extends "boardgames/base.html" %}
<section>
	{% block content %}
	<h2>{{ boardgame.name }}</h2>
	<p>Developer: {{ boardgame.developer }}</p>
	<p>Description: {{ boardgame.description }}</p>
	<p>Year Published: {{ boardgame.year_published }}</p>
	<div>
		{% if user.is_authenticated %}
		<form method="{{method}}" action="{% url action boardgame.id %}">
			{% csrf_token %}
			<button type="submit">{{button}}</button>
		</form>

		{% else %}
		<p>Login to borrow this Boardgame</p>
	</div>
	{% endif %} {% endblock content %}
</section>
