{% extends "boardgames/base.html" %}
<!--other styles-->
{% block page_styles %}
<!--load static duplicate needed to not cause errors-->
{%load static%}
<link rel="stylesheet" href="{% static 'accounts/auth.css' %}" />
{% endblock %}
<section>
	{% block content %}
	<h2>Edit {{boardgame.name}}</h2>
	<form
		method="post"
		action="{% url 'boardgames:edit_boardgame' boardgame.id %}">
		{% csrf_token %}
		<fieldset>{{ form.as_div }}</fieldset>

		<button type="submit">Edit Boardgame</button>
	</form>
	{% endblock content %}
</section>
